.add-lash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    &-form{
        min-width: 20vw;
        max-width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
   

    &-input{
        margin-top: 20px
    }
    &-textarea{
        margin-top: 20px
    }
    &-image{
        margin-top: 20px;
    }
    };
}